.screen{
    width: 400px;
    height: 600px;
    background-color: rgb(42, 39, 39);
    margin-left: 35%;
}
#output{
    width: 80%;
    height: 36px;
    margin-left: 37px;
    margin-top: 40px;
    pointer-events: none;
}
.btn{
    width: 75px;
    height: 55px;
    font-size: 20px;

}
.row{
    margin-left: 47px;
    margin-top: 36px;
}

